body {
  background-color: green;
  text-align: center;
  color: white;
  letter-spacing: 2ch;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-family: serif;
  font-size: 32px;
  letter-spacing: 1ch;
  width: 500px;
  margin-left: 120px;
  padding: 20px;
  box-shadow: 0 0 40px blue;
  margin-bottom: 15px;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-flow: column;
}

.btn {
  background-color: red;
  border-radius: 20px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
}
h2:hover {
  color: blue;
}
a:hover {
  color: red;
}
